body {
  background-image: url('../images/nice_snow.png');
}

#heading {
  border-bottom: 2px solid #777777;
}


/* Navigation */
a {
  color:#777777;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-family: 'Shadows Into Light', cursive;
  font-size: 200%;
  font-weight:bold; 
}

a:hover {
  background-color: #006699;
  color: white;
} 



/* Kauri Nanda header*/
h1 {
color: #006699;
font-family: 'Shadows Into Light', cursive;
font-size: 350%;
font-weight:bold; 
}



/* Container with cards */
.container-fluid {
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 2%;
}

.card-deck {
  padding: 2%;
}

.card-title {
  color: cadetblue;
  font-family: 'Shadows Into Light', cursive;
  font-weight:bold;
  font-size: x-large;
}

.card-title:hover {
  color: lightblue;
  background-color: lightslategray;
}

.repo-link {
  color: cadetblue;
  font-family: 'Shadows Into Light', cursive;
  font-weight:bold;
  font-size: large;
}

.repo-link:hover {
  color: lightblue;
  background-color: lightslategray;
}

/* .card-body {
  height: 200px;
  width: 200px;
} */

img {
  border: 1px solid #777777;
  width: auto;
  height: 80%;
}


/* Portfolio header */
h2 { 
  color: #006699;
  font-family: 'Shadows Into Light', cursive;
  font-size: 250%;
  font-weight:bold; 
}

hr {
  border: 0.5px solid #777777;
}



#footer {
	clear: both;
  padding: 15px;
	background-color: #ebebe0;
	color: #777777;
  text-align: center;
  border-top: 2px solid #777777;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}